<div class="car-container">
    <h1>List of Cars</h1>
    <mat-list *ngFor="let car of car$ | async">
        <div class="car">
            {{ car.brand }}
            <span class="list-spacer"></span>
            <mat-icon matSuffix (click)="onEdit(car)">mode_edit</mat-icon>
        </div>
        <mat-divider></mat-divider>

        <div *ngIf="editState && carToEdit.id == car.id">
            <form [formGroup]="carForm" (ngSubmit)="updateCar(carToEdit)">
				<mat-form-field class="full-width">
					<input matInput value="{{carToEdit.brand}}" 
                        formControlName="brand"
                        placeholder="Car brand"
                        value="Update Car"
                    />
                    <button type="submit" mat-flat-button color="primary">Update</button>
                    <button type="button" mat-flat-button color="warn" (click)="deleteCar(carToEdit)">Delete</button>
				</mat-form-field>
			</form>
        </div>
    </mat-list>
</div>