<div class="car-container"><mat-list role="list">
    <h1>List of Cars</h1>
    <mat-list *ngFor="let car of car$ | async">
        <div class="car">
            Brand: {{ car.brand }}
            <span class="list-spacer"></span>
            <mat-icon class="edit-icon" aria-hidden="false" aria-label="check icon" (click)="onEdit(car)">create</mat-icon>
            <mat-icon class="delete-icon" aria-hidden="false" aria-label="check icon" (click)="onDelete(car)">delete</mat-icon>
        </div>
        <mat-divider></mat-divider>

        <div *ngIf="editState && carToEdit.id == car.id">
            {{ car.brand }}
            <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
				<mat-form-field class="full-width">
					<mat-label>Brand</mat-label>
                    <input matInput value="{{car.brand}}" 
                    formControlName="brand"
                    />
                    <button type="button" mat-flat-button color="primary" (click)="onUpdate()">Update</button>
				</mat-form-field>
			</form>
        </div>
            
    </mat-list>
  </mat-list>

</div>